html{
  background: #dcdcdc;
}

body{
  background: transparent;
}

/*NAVBAR*/
.navbar-fixed-top {
  background-color: #ffffff;
  height:70px;
  box-shadow: 0 2px 2px #d2caca;
}
.navbar-fixed-top a, .navbar-fixed-top li a {
  line-height: 35px;
  background-color : #ffffff;
  color: #000000;
  font-weight: bold;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: blue;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.logo {
  max-width: 200px;
}
/*FIRST CAROUSEL*/
.carousel {
  height: 300px;
  margin-bottom: 220px;
  z-index: -1;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  top: 50%;
  transform: translateY(-20%);
  bottom: initial;
  color :#ffffff;
  font-family: "Verdana";
  font-weight: bold;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
/*HOMEPAGE*/
/*-SHOWCASE*/
.PanelHeader, .panel-default>.panel-heading  {
  background-color: #2767bf;
  color : #ffffff;
  font-size : 25px;
  margin-bottom : 10px;
}
.img-showcase {
  max-height: 350px;
}
/*ABOUT PAGE */
.about-intro {
  background-color : #2752FF;
  color : #ffffff;
  font-weight: bold;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : -80px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius : 3px;
}
.about-team, .ending {
  margin-top: 20px;
  background-color :#2752FF;
  color : #ffffff;
  font-weight: bold;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius : 3px;
}
/*Styling meet the team section*/
.heading-title {
    margin-bottom: 10px;
}
.heading-title h2 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: bold;
}
.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}
.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s; /*SAFARI BROWSER*/
    transition: all 0.5s;
}
.team-member:hover .team-hover .desk {
    top: 50%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%); /* SAFARI */
    -ms-transform: translateY(-55%); /* IE 9 */
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s; /* SAFARI */
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
/*Styling ending section*/
.box-content {
  margin-top : 20px;
  background-color : #F7F5F2;
  width : 300px;
  height : 300px;
  padding : 60px 18px;
  margin-left : 70px;
  /*margin-left : 80px;*/
}
.box-content .center {
  display : block;
  padding: 10px 20px;
  margin : 40px auto;
  background-color : #2752FF;
}
/*TOP Idea PAGE*/
.top-section {
  margin-top: 70px;
  margin-bottom : 15px;
  height : 200px;
  background-color: #0061ba;
}
.top-header {
  line-height: 150px;
  color : #ffffff;
  margin-bottom : 5px;
}
/*The most popular idea*/
.top1-idea {
  height : 330px;
  margin-bottom : 20px;
  padding : 20px;
  border-radius : 5px;
  box-shadow : 0 2px 6px 0px rgba(22,22,22,0.45);
}
.btn-default {
  border-radius : 17px;
}
.list-idea {
  padding: 20px 10px 10px 10px;
  margin-top: 10px;
  border-radius : 5px;
  box-shadow : 0 2px 6px 0px rgba(22,22,22,0.45);
}
.media-object  {
  max-width : 500px;
}
/*EXPLORE ALL Idea PAGE*/
.sidebar {
  position : fixed;
  margin-top : 20px;
  padding : 20px;
  border: 1px solid   #dddddd;
  border-radius : 5px;
}

/**************************************
- ADD NEW Idea
**************************************/
/**************************************
- ADD NEW Idea
**************************************/
.add-new-idea {
  margin-top: 100px;
  height: 1100px;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0px rgba(22, 22, 22, 0.45);
  margin-left: auto;
  margin-right: auto;
}

.add-new-idea-title {
  color: #555555;
  font-size: 23px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
}

.label-add-idea {
  color: #555555;
  text-align: left;
  font-weight: 500px;
  font-size: 21px;
  margin-left: 10px;
}

.btn-add-idea {
  display: block;
  margin: 0 auto;
  margin-top: 45px;
}

#img-idea {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  height: 400px;
  box-shadow: 0 2px 6px 0px rgba(22, 22, 22, 0.35);
}

.select-img-idea {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}




/*Login form*/
.AuthForm {
  background-color:   #fdfdfd;
  display:block;
  margin:100px auto;
  padding: 20px 70px;
  text-align:center;
  border: 6px solid #3BB4D2;
  border-radius: 10px;
  width: 408px;
  padding:30px;  
}
.AuthForm input {
  display:block;
  margin:20px auto;
  padding: 20px 70px;
  text-align:center;
}
.AuthForm input:focus {
  border:1px solid #0C63B8;
}
.button-login {
  display:block;
  margin: 0 auto;
  margin-top:4px;
  margin-bottom: 24px;
  padding:auto;
  text-align:center;
}



#nameIdea {
  margin-left: 10px;
  color: #211922;
  background-color: #f2efef;
}



/*Comment*/
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
/*End of Comment*/
/*STYLING PROFILE PAGE*/
.profile-header {
  margin-top: 70px;
}
.img-thumbnail-profile {
  max-width:250px;
  border-radius: 50%;
}
.contact {
  list-style: none;
  margin-left: -40px;
  font-size: 20px;
}
/*Main profile*/
.nav-tabs {
  background-color :  #f7f8f9;
  border-bottom: 2px solid #e5e8ea;
}
.nav-tabs li a {
  border-right: 1px solid #e5e8ea!important;
  padding : 20px;
}
.tab-content {
  box-shadow: 0 2px 6px 0px rgba(22,22,22,0.45);
  padding-right : 10px;
}
.created-idea, .following-idea {
  margin-top : 10px;
}
.media-object {
  max-width: 400px;
}
/**************************************
- Panel body
**************************************/
/*********
.panel-body {
  border-radius: 10px;
  width: 236px;
}
**********/