.navbar-fixed-top {
  background-color: #ffffff;
  height:70px;
  box-shadow: 0 2px 2px #d2caca;
}
.navbar-fixed-top a, .navbar-fixed-top li a {
  line-height: 35px;
  background-color : #ffffff;
  color: #000000;
}

.top-section {
  margin-top: 70px;
  margin-bottom : 15px;
  height : 200px;
  background-color: #0061ba;
}
.top-header {
  line-height: 100px;
  color : #ffffff;
}
.under-header a {
  color : #ffffff;
}
