/* CUSTOMIZE Idea page
-------------------------------------------------- */
body {
  background-color: #F0F2F3;
}
.navbar-fixed-top {
  background-color: #ffffff;
  height:70px;
  box-shadow: 0 2px 2px #d2caca;
}
.navbar-fixed-top a, .navbar-fixed-top li a {
  line-height: 35px;
  background-color : #ffffff;
  color: #000000;
}
.overview {
  margin-top : 100px;
  margin-bottom : 20px;
  background-color : #ffffff;
  padding : 20px;
}

.main-content {
  background-color : #ffffff;
  padding : 8px;
  margin-bottom : 20px;
}
.nav-tabs {
  background-color: #f7f8f9;
  border-bottom: 1px solid #e5e8ea;
  border-radius: 5px 5px 0 0;
}

.nav-tabs li a {
  color : #000000;
}

.info-website {
  background-color : #ffffff;
}
